<script id="comboWidgetTemplate" type="text/template">
	
    <div id="<%- (customId !== undefined && customId !== null) ? customId : 'comboWidget_' + cid  %>" class="<%- customClass %>">	
		<% if (labelText != '')  { %>
			<label for="<%- (customId !== undefined && customId !== null) ? customId + 'Select' : 'comboWidgetSelect_' + cid  %>"><%- labelText %></label>
		<% } %>
		<select id="<%- (customId !== undefined && customId !== null) ? customId + 'Select' : 'comboWidgetSelect_' + cid  %>" <%- (isDisabled) ? 'disabled="disabled"' : '' %>>
			<% if (defaultOpt !== null && defaultOpt !== undefined && hideDefaultOpt === false) { %>
				<option title="<%- defaultOpt.title %>" alt="<%- defaultOpt.alt %>" value="<%- defaultOpt.value %>"><%- defaultOpt.text %></option>
			<% } %>
			<% _.each(items, function(item, i) { %>
				<option <%- (selectedValue !== null && selectedValue !== undefined && selectedValue == item.value) ? 'selected="selected"' : '' %> title="<%- item.title %>" alt="<%- item.alt %>" value="<%- item.value %>"><%- item.text %></option>
			<% }); %>
		</select>
	</div>
	
</script>