<div class="page-screen" id="headerContent">
    <div class="header-title">
        <div class="left-side">
            <span class="icon title float-left"></span>
            <h1 class="float-left text-color-light" id="appTitle"></h1>
            <h1 class="float-left text-light text-color-light" id="appVersion"></h1>
			<span class="header-title-separator" id="titleSeparator">&bullet;</span>
			<h2 class="float-left text-color-light" id="appSubtitle"></h2>
			<h2 class="float-left text-light text-color-light" id="appSubversion"></h2>
        </div>
        <div class="right-side">
            <span id="exitBtn" class="icon exit float-right enabled-btn" title="Esci"></span>
        </div>
    </div>
    <div id="headerShadow"></div>
</div>
<div id="headerBar"></div>